mat-drawer-container,mat-drawer-content{
    height: 100%;
}

mat-drawer{
    width: 175px;
}

.main-container {
    height: calc(100% - 80px);
    overflow-y: auto;
}

.footer {
    font-size: 14px;
    margin-left: 14px;
}