<div class="search">
    <mat-form-field style="min-width: 200px;" class="example-full-width">
        <mat-label>
            <mat-icon>search</mat-icon> Name, Address
        </mat-label>
        <input matInput [(ngModel)]="searchName">
    </mat-form-field>
    <mat-checkbox style="margin-left: 10px;" [(ngModel)]="isAll" [labelPosition]="'after'" color="primary">
        All
    </mat-checkbox>
</div>
<div class="entries-list">
    <div *ngFor="let person of persons | nameFilter: searchName; index as i">
        <mat-card class="example-card" *ngIf=" !person.Settled || isAll"
            [ngStyle]="{'background-color': person.Settled?'initial':person.Paid == 0? 'gray' : 'lightgray'}">
            <mat-card-content>
                <span class="edit-save" *ngIf="editPersonGuid != person.PersonGuid"
                    (click)="editPersonGuid == ''? editPersonGuid = person.PersonGuid : cancelPersonEdit(person.PersonGuid)">
                    <mat-icon>edit</mat-icon>
                </span>
                <span class="edit-save" *ngIf="editPersonGuid == person.PersonGuid" (click)="updatePerson(person)">
                    <mat-icon>save</mat-icon>
                </span>
                <span class="edit-cancel" *ngIf="editPersonGuid == person.PersonGuid"
                    (click)="personEditCancel(person)">
                    <mat-icon>cancel</mat-icon>
                </span>
                <div class="data-item">
                    <label>Name:</label><span class="data"
                        *ngIf="editPersonGuid != person.PersonGuid">{{person.Name}}</span>
                    <input class="person-edit-input" matInput [(ngModel)]="person.Name"
                        *ngIf="editPersonGuid == person.PersonGuid">
                </div>
                <div class="data-item">
                    <label>Mobile:</label><span class="data" *ngIf="editPersonGuid != person.PersonGuid"><a
                            href="tel:{{person.Mobile}}">{{person.Mobile}}</a></span>
                    <input class="person-edit-input" matInput type="number" [(ngModel)]="person.Mobile" max="9999999999"
                        *ngIf="editPersonGuid == person.PersonGuid">
                </div>
                <div class="data-item">
                    <mat-expansion-panel hideToggle style="background-color: transparent;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Amount:
                            </mat-panel-title>
                            <mat-panel-description style="font-weight: bold;color: #000;">
                                ₹{{person.Amount}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="entries">
                            <div class="entry" *ngFor="let entry of person.Entries"
                                [ngStyle]="{'background-color': entry.Settled?'lightgreen' : 'initial'}">
                                <div style="display: flex;">
                                    <div style="width: 200px;">{{entry.Date | date: 'dd/MM/yyyy, hh:mm a'}}</div>
                                    <div style="width: 100px;">{{entry.Kalappai}}</div>
                                    <div style="width: 50px;">{{entry.HrAmount}}</div>
                                </div>
                                <div style="display: flex;">
                                    <div style="width: 200px;text-align: right;">
                                        <span *ngIf="entry.Time.hours != ''">{{entry.Time.hours}}<sub>Hrs</sub></span>
                                        <span *ngIf="entry.Time.minutes != ''">
                                            &ensp;{{entry.Time.minutes}}<sub>Mins</sub></span>
                                    </div>
                                    <div class="amount data" style="width: 50px;"><span>{{entry.Amount}}</span></div>
                                    <span class="delete-entry" (click)="deleteEntry(entry)">
                                        <mat-icon>delete</mat-icon>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="data-item">
                    <mat-expansion-panel hideToggle style="background-color: transparent;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Paid:
                            </mat-panel-title>
                            <mat-panel-description style="font-weight: bold;color: #000;">
                                ₹{{person.Paid}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="payments">
                            <div class="payment" *ngFor="let payment of person.Payments" style="display: flex;"
                                [ngStyle]="{'background-color': payment.New?'initial' : 'lightgreen'}">
                                <div style="width: 200px;">{{payment.Date | date: 'dd/MM/yyyy, hh:mm a'}}</div>
                                <div class="amount data" style="width: 50px;"><span>{{payment.Amount}}</span></div>
                                <span class="delete-entry"  (click)="deletePayment(payment)">
                                    <mat-icon>delete</mat-icon>
                                </span>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="warn" (click)="delete(person)">Delete</button>
                <button mat-stroked-button color="primary" (click)="addEntry(person)">Entry</button>
                <button mat-stroked-button *ngIf="!person.Settled" color="primary"
                    (click)="addPayment(person)">Payment</button>
                <button mat-stroked-button *ngIf="!person.Settled" (click)="settle(person)">Settle</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>