.example-card {
    max-width: 400px;
    margin   : 10px;

    .data-item {
        font-size  : 16px;
        line-height: 30px;

        label {
            margin-right: 5px;
        }

        span {
            font-weight: bold;
        }
    }
}

.exportbtn {
    position: fixed;
    bottom  : 25px;
    right   : 80px;
}

.clearbtn {
    position: fixed;
    bottom: 25px;
    right: 20px;
}

.importbtn {
    position: fixed;
    bottom: 80px;
    right: 20px;
}