.example-card {
    max-width: 400px;
    margin   : 10px;

    .data-item {
        font-size  : 16px;
        line-height: 30px;

        label{
            margin-right: 5px;
        }

        span {
            font-weight: bold;
        }
    }
}