.search {
    position        : fixed;
    top             : 55px;
    padding-left    : 10px;
    z-index         : 10;
    width           : 100%;
    background-color: #fff;
    height          : 50px;
    line-height     : 23px;
    font-size       : 12px;
}

.entries-list {
    margin-top: 60px;
}

.example-card {
    max-width: 400px;
    margin   : 10px;

    .data-item {
        font-size  : 16px;
        line-height: 30px;

        label {
            margin-right: 5px;
        }

        .data {
            font-weight: bold;
        }

        .amount {
            text-align: right;
        }
    }
}

.entries,
.payments {

    .entry,
    .payment {
        border       : 0.5px solid lightgray;
        border-radius: 5px;
        margin       : 4px 0;
        padding      : 5px;
    }
}

::ng-deep mat-expansion-panel-header {
    background-color: rgb(144 144 144 / 10%) !important;
}

::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 7px 0px grey !important;
}

::ng-deep .mat-card-actions .mat-stroked-button {
    margin: 0 !important;
    margin-left: 5px !important;
}