.amount {
    text-align: center;

    .total {
        font-size   : 22px;
        font-weight : bold;
        margin-right: 35px;
    }
}

.paid-input {
    max-width   : 80px;
    margin-right: 10px;
}