<div class="form-container">
    <form [formGroup]="entryForm">
        <div class="flex-group">
            <div class="flex-item full">
                <mat-form-field class="example-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="Date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex-item full">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="Name" required>
                </mat-form-field>
            </div>
            <div class="flex-item full">
                <mat-form-field class="example-full-width">
                    <mat-label>Mobile</mat-label>
                    <input matInput type="number" formControlName="Mobile" max="9999999999">
                </mat-form-field>
            </div>
            <div class="flex-item full">
                <mat-form-field>
                    <mat-label>Kalappai/Lottery</mat-label>
                    <mat-select formControlName="Kalappai" (ngModelChange)="calcAmount()" required>
                        <mat-option value="700">5 Kalappai (₹ 700)</mat-option>
                        <mat-option value="800">9 Kalappai (₹ 800)</mat-option>
                        <mat-option value="900">Lottery (₹ 900)</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex-item half">
                <mat-form-field class="example-full-width">
                    <mat-label>From Time</mat-label>
                    <input matInput readonly [ngxTimepicker]="ftimePicker" (ngModelChange)="calcTime()"
                        formControlName="FromTime">
                    <ngx-material-timepicker #ftimePicker></ngx-material-timepicker>
                </mat-form-field>
            </div>

            <div class="flex-item half">
                <mat-form-field class="example-full-width">
                    <mat-label>To Time</mat-label>
                    <input matInput readonly [ngxTimepicker]="ttimePicker" (ngModelChange)="calcTime()"
                        formControlName="ToTime">
                    <ngx-material-timepicker #ttimePicker></ngx-material-timepicker>
                </mat-form-field>
            </div>

            <div class="flex-item half">
                <mat-form-field class="example-full-width">
                    <mat-label>Hours</mat-label>
                    <input matInput type="number" formControlName="Hours" (ngModelChange)="calcAmount()" min="0">
                </mat-form-field>
            </div>

            <div class="flex-item half">
                <mat-form-field class="example-full-width">
                    <mat-label>Minutes</mat-label>
                    <input matInput type="number" formControlName="Minutes" (ngModelChange)="calcAmount()" min="0"
                        max="59">
                </mat-form-field>
            </div>
        </div>
        <div class="amount">
            <input type="hidden" formControlName="Amount" required>
            <h2>₹ {{amount}}</h2>
        </div>
        <div class="buttons">
            <button mat-raised-button (click)="setForm()" color="warn">Reset</button>
            <button mat-raised-button color="primary" [disabled]="entryForm.invalid" (click)="addEntry()">Save</button>
        </div>
    </form>

</div>