<button mat-icon-button class="top-icon-button" (click)="filterData()" aria-label="Refresh">
  <mat-icon>refresh</mat-icon>
</button>
<div class="filters">
  <mat-form-field class="example-full-width">
    <mat-label>From Date</mat-label>
    <input matInput [matDatepicker]="picker" (click)="picker.open()" [(ngModel)]="fromDate"
      (ngModelChange)="fromDateChange()" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label> To Date</mat-label>
    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [(ngModel)]="toDate"
      (ngModelChange)="toDateChange()" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker1></mat-datepicker>
  </mat-form-field>
  <mat-radio-group aria-labelledby="run" color="primary" [(ngModel)]="isRun" (ngModelChange)="filterData()">
    <mat-radio-button value="1">Run</mat-radio-button>
    <mat-radio-button value="0">Collect</mat-radio-button>
  </mat-radio-group>
</div>
<div class="table-container mat-elevation-z8">
  <table mat-table #accountsTable style="width: 100%;" [dataSource]="accounts">

    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.Date | date: 'dd/MM/yyyy'}} </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <!-- Particular Column -->
    <ng-container matColumnDef="Particular">
      <th mat-header-cell *matHeaderCellDef> Particular </th>
      <td mat-cell *matCellDef="let element"> {{element.Particular}} </td>
      <td mat-footer-cell *matFooterCellDef>{{
        totalIncome < totalExpense ? 'Loss: '+(totalExpense-totalIncome)
        : 'Profit: '+(totalIncome-totalExpense)}}</td>
    </ng-container>

    <!-- Credit Column -->
    <ng-container matColumnDef="Credit">
      <th mat-header-cell *matHeaderCellDef> Credit </th>
      <td mat-cell *matCellDef="let element" class="amount"> {{element.Credit}} </td>
      <td mat-footer-cell *matFooterCellDef class="amount"> {{totalIncome}} </td>
    </ng-container>

    <!-- Debit Column -->
    <ng-container matColumnDef="Debit">
      <th mat-header-cell *matHeaderCellDef> Debit </th>
      <td mat-cell *matCellDef="let element" class="amount"> {{element.Debit}} </td>
      <td mat-footer-cell *matFooterCellDef class="amount"> {{totalExpense}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>