@import '../../table-styles.scss';

.filters {
    font-size: 10px;
}

::ng-deep .filters .mat-radio-button {
    margin: 0 4px;
}

::ng-deep .filters .mat-form-field {
    width : 69px;
    margin: 5px 10px 0;
}