table {
    width: 100%;

    td.amount {
        text-align: right;
    }
}

::ng-deep th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding-left: 10px;
}

::ng-deep th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 10px;
}

::ng-deep th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border: .1px solid grey;
}

::ng-deep th.mat-header-cell {
    text-align: center !important;
    color     : #000;
    padding   : 0 !important;
}
